
<mat-toolbar class="navbar">
  <a class="navbar-brand" href="/">
    <img src="assets/aluno.png" alt="" width="32" height="32" >
    <span class="home">Academify</span>
  </a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>




<router-outlet></router-outlet>

<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://mdbootstrap.com/"> Academify.com.br</a>
  </div>


</footer>
